html,body,form
{
	background-color:#f2f2f2;	
	margin:0px;
	text-align:center;
	height:100%;	
	margin:0px 0px 131px 0px;
}

div#ContentBase
{
	background-image:url(m.jpg);
	background-repeat:repeat-y;		
	width:984px;
	min-height:100%;
}

div#ContentMaster
{
	background-image:url(m.jpg);
	background-repeat:no-repeat;
	background-position:center top;
	width:984px;
	min-height:425px;
}

div#ContentHeader
{
    text-align:left;
    height:100px;
    padding-left:25px;
    padding-right:25px;
    padding-top:5px;
}

div#ContentPage
{
    text-align:left;
    padding-left:30px;
    padding-right:30px;
    padding-top:15px;
}

div#ContentFooter
{
	background-image:url(m.jpg);
	background-repeat:no-repeat;
	background-position:center bottom;
	width:984px;
	height:131px;
}
